<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>

  <main id="main" class="main" layout:fragment="corpo">

    <div class="pagetitle">
      <h1>Listar Imoveis</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item">Imoveis</li>
          <li class="breadcrumb-item active">Listar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listar Imoveis</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Situação</th>
                  <th>Tipo</th>
                  <th>Valor</th>
                  <th>Taxa</th>
                  <th>Locador</th>
                  <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="imo : ${imoveis}">
                  <td class="align-middle" th:text="${imo.id}">2</td>
                  <td class="align-middle"
                      th:text="${imo.situacao}"
                      th:classappend="${imo.situacao == 'Livre' ? 'text-success fw-bold' : (imo.situacao == 'Alugado' ? 'text-primary fw-bold' : '')}">
                  </td>
                  <td class="align-middle" th:text="${#strings.toUpperCase(imo.tipo)}"></td>
                  <td class="align-middle moeda" th:text="${imo.valor}"></td>
                  <td class="align-middle moeda" th:text="${imo.valorTaxa}"></td>
                  <td class="align-middle" th:text="${#strings.toUpperCase(imo.locador.nome)}"></td>
                  <td class="align-middle" colspan="2">
                    <a class="btn btn-info btn-sm" th:href="@{/imovel/editar/{id} (id=${imo.id}) }"
                       role="button">
                      <span class="bi-brush" title="Editar" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
  <!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

</body>

</html>