<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>

  <main id="main" class="main" layout:fragment="corpo">

    <div class="pagetitle">
      <h1>Perfil</h1>
      <div th:replace="fragments/alert"></div>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item">Usuários</li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img th:if="${usuario.imagem != null}"
                   th:src="@{/usuario/imagem/download/{id}(id=${usuario.id})}"
                   alt="Profile" class="rounded-circle">

              <img th:unless="${usuario.imagem != null and usuario.imagem != ''}"
                   src="//assets/img/profile-img.jpg"
                   alt="Profile" class="rounded-circle">

              <h2 th:text="${usuario.nome}"></h2>
              <h3 th:text="${usuario.tipoDeUsuario}"></h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Visão geral</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar perfil</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Alterar senha</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Sobre Nós</h5>
                  <p class="small fst-italic">
                    Nossa missão é fornecer soluções inovadoras e eficientes, garantindo qualidade e comprometimento em tudo o que fazemos.
                    Acreditamos na transparência, no respeito e na busca contínua por melhorias para atender às necessidades dos nossos clientes.
                    Nosso compromisso é transformar desafios em oportunidades e proporcionar uma experiência excepcional em cada serviço prestado.
                  </p>

                  <h5 class="card-title">Perfil Detalhes</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nome Completo</div>
                    <div class="col-lg-9 col-md-8" th:text="${usuario.nome}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Fone</div>
                    <div class="col-lg-9 col-md-8" th:text="${usuario.fone}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Login - usuário</div>
                    <div class="col-lg-9 col-md-8" th:text="${usuario.userName}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8" th:text="${usuario.email}"></div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagem do perfil</label>
                    <div class="col-md-8 col-lg-9">
                      <img th:if="${usuario.imagem != null}"
                           th:src="@{/usuario/imagem/download/{id}(id=${usuario.id})}"
                           alt="Profile" class="rounded-circle">

                      <img th:unless="${usuario.imagem != null and usuario.imagem != ''}"
                           src="//assets/img/profile-img.jpg"
                           alt="Profile" class="rounded-circle">
                      <!-- Formulário de Upload -->
                      <form id="uploadImagemForm" th:action="@{/usuario/upload-imagem}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${usuario.id}">
                        <input type="file" name="imagem" class="form-control mb-2">
                        <button type="submit" class="btn btn-primary btn-sm">
                          <i class="bi bi-upload"></i> Enviar Nova Imagem
                        </button>
                      </form>

                      <!-- Formulário de Remoção de Imagem -->
                      <form id="removerImagemForm" th:action="@{/usuario/remover-imagem}" method="POST">
                        <input type="hidden" name="id" th:value="${usuario.id}">
                        <button type="submit" class="btn btn-danger btn-sm mt-2">
                          <i class="bi bi-trash"></i> Remover Imagem
                        </button>
                      </form>


                    </div>
                  </div>
                  <!-- Profile Edit Form -->
                  <form th:action="${usuario.id == null} ? @{/usuario/salvar} : @{/usuario/editar-perfil}"
                        th:object="${usuario}" method="POST">


                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nome Completo</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" th:field="*{nome}" class="form-control" id="fullName" th:value="${usuario.nome}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Fone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" th:field="*{fone}" th:value="${usuario.fone}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="login" class="col-md-4 col-lg-3 col-form-label">Login - usuário</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="login" th:field="*{userName}" th:value="${usuario.userName}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" th:field="*{email}" th:value="${usuario.email}">
                      </div>
                    </div>
                      <input type="hidden" id="id" th:field="*{id}" th:value="${usuario.id}"/>
                    <input type="hidden" id="tipoDeUsuario" th:field="*{tipoDeUsuario}" th:value="${usuario.tipoDeUsuario}"/>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Salvar alterações</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form th:action="@{/usuario/senha}" th:object="${alterarSenhaDTO}" method="POST">

                    <input type="hidden" th:field="*{nome}" th:value="${alterarSenhaDTO.nome}">
                    <input type="hidden" th:field="*{userName}" th:value="${alterarSenhaDTO.userName}">
                    <input type="hidden" th:field="*{id}" th:value="${alterarSenhaDTO.id}">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Senha atual</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" th:field="*{senhaAtual}" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nova senha</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" th:field="*{novaSenha}"  class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Digite novamente a nova senha</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword"  th:field="*{confirmaSenha}" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Alterar senha</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Captura e impede o submit do formulário de upload
    document.getElementById("uploadImagemForm").addEventListener("submit", function (event) {
      event.preventDefault(); // Impede o envio padrão
      event.stopPropagation(); // Evita que o evento se propague para outros formulários

      this.submit(); // Submete apenas este formulário
    });

    // Captura e impede o submit do formulário de remoção
    document.getElementById("removerImagemForm").addEventListener("submit", function (event) {
      event.preventDefault();
      event.stopPropagation();

      this.submit();
    });
  });

</script>
</body>

</html>