<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ALUGA+SERVICE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: SISGA
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: Ademar Farias Jr
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/home" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">ALUGA+SERVICE</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Buscar" title="Enter buscar">
            <button type="submit" title="Buscar"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">3</span>
                </a>
                <!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        Você tem 4 novas notificações
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver tudo</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Mostrar todas as notificações</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todas</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Mostrar todas as menssagens</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Thiago Garcia</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Thiago Garcia</h6>
                        <span>Dev Java</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>Meu Perfil</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Configurações da Conta</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Ajuda?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sair</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/home">
                <i class="bi bi-grid"></i>
                <span>Principal</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#cliente-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="cliente-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/locatario/cadastrar">
                        <i class="bi bi-circle"></i><span>Cadastro Cliente</span>
                    </a>
                </li>
                <li>
                    <a href="/locatario/listar">
                        <i class="bi bi-circle"></i><span>Listar Cliente</span>
                    </a>
                </li>
            </ul>
            <a class="nav-link collapsed" data-bs-target="#imoveis-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Imóvel</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="imoveis-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/imovel/cadastrar">
                        <i class="bi bi-circle"></i><span>Cadastro Imoveis</span>
                    </a>
                </li>
                <li>
                    <a href="/imovel/listar">
                        <i class="bi bi-circle"></i><span>Listar Imoveis</span>
                    </a>
                </li>
            </ul>
            <a class="nav-link collapsed" data-bs-target="#locador-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Locador</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="locador-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/locador/cadastrar">
                        <i class="bi bi-circle"></i><span>Cadastro Locador</span>
                    </a>
                </li>
                <li>
                    <a href="/locador/listar">
                        <i class="bi bi-circle"></i><span>Listar Locador</span>
                    </a>
                </li>
            </ul>
            <a class="nav-link collapsed" data-bs-target="#contrato-nav" data-bs-toggle="collapse"
               href="/contrato/cadastrar">
                <i class="bi bi-menu-button-wide"></i><span>Contrato</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="contrato-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/contrato/cadastrar">
                        <i class="bi bi-circle"></i><span>Cadastro Contrato</span>
                    </a>
                </li>
                <li>
                    <a href="/contrato/listar">
                        <i class="bi bi-circle"></i><span>Listar Contrato</span>
                    </a>
                </li>
            </ul>
            <a class="nav-link collapsed" data-bs-target="#pagamentos-nav" data-bs-toggle="collapse"
               href="/pagamento/cadastrar">
                <i class="bi bi-menu-button-wide"></i><span>Pagamentos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="pagamentos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/pagamento/cadastrar">
                        <i class="bi bi-circle"></i><span>Cadastrar Pagamento</span>
                    </a>
                </li>
                <li>
                    <a href="/pagamento/listar">
                        <i class="bi bi-circle"></i><span>Listar Pagamento</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cadastro Cliente</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Cadastrar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente</h5>
                        <div th:replace="/alert"></div>
                        <!-- General Form Elements -->
                        <form th:action="${locatario.id == null} ? @{/locatario/salvar} : @{/locatario/editar}"
                              th:object="${locatario}" method="post">
                            <div class="form-row">
                                <!-- Nome -->
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Nome</label>
                                    <div class="col-sm-12">
                                        <input id="inputText" type="text" th:field="*{nome}" placeholder="Seu nome"
                                               class="form-control">
                                    </div>
                                </div>

                                <!-- CPF e RG -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputPassword" class="form-label">CPF</label>
                                        <input id="inputPassword" type="text" th:field="*{cpf}"
                                               placeholder="000.000.000-00" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputNumber" class="form-label">RG</label>
                                        <input id="inputNumber" type="text" th:field="*{rg}" placeholder="Seu RG"
                                               class="form-control">
                                    </div>
                                </div>
                                <!-- Estado civil e Profissao -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputEstadoCivil" class="form-label">Estado Civil</label>
                                        <select id="inputEstadoCivil" th:field="*{estadoCivil}" class="form-select">
                                            <option value="" disabled selected>Selecione seu estado civil</option>
                                            <option value="solteiro">Solteiro</option>
                                            <option value="casado">Casado</option>
                                            <option value="uniao_estavel">União Estável</option>
                                            <option value="nao_informado">Prefiro não informar</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="inputProfissao" class="form-label">Profissão</label>
                                        <input id="inputProfissao" type="text" th:field="*{profissao}"
                                               placeholder="Sua Profissão" class="form-control">
                                    </div>
                                </div>

                                <!-- Email e Nacionalidade -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputDate" class="form-label">Data de Nascimento</label>
                                        <input id="inputDate" type="date" th:field="*{dataNascimento}"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputNacionalidade" class="form-label">Nacionalidade</label>
                                        <input id="inputNacionalidade" type="text" th:field="*{nacionalidade}"
                                               placeholder="Sua Nacionalidade/país" class="form-control">
                                    </div>
                                </div>

                            </div>

                            <h5 class="card-title mt-4">Contato Telefone/Email</h5>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="form-label">Email</label>
                                    <input id="inputEmail" type="email" th:field="*{email}" placeholder="seu email"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">

                                <div class="col-md-6">
                                    <label for="inputCelularPrincipal" class="form-label">Celular Principal</label>
                                    <input id="inputCelularPrincipal" type="text" th:field="*{celularPrincipalCliente}"
                                           class="form-control" placeholder="(00) 00000-0000">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCelularWhatsApp" class="form-label">Celular WhatsApp</label>
                                    <input id="inputCelularWhatsApp" type="text" th:field="*{celularWhatsApp}"
                                           class="form-control" placeholder="(00) 00000-0000">
                                </div>
                            </div>
                            <h5 class="card-title mt-4">Endereço</h5>
                            <div class="form-row">
                                <!-- Rua e Bairro -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputTextRua" class="form-label">Rua</label>
                                        <input id="inputTextRua" type="text" th:field="*{endereco.logradouro}"
                                               placeholder="Rua" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputTextBairro" class="form-label">Bairro</label>
                                        <input id="inputTextBairro" type="text" th:field="*{endereco.bairro}"
                                               placeholder="Seu Bairro" class="form-control">
                                    </div>
                                </div>

                                <!-- CEP e Estado -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputTextCep" class="form-label">CEP</label>
                                        <input id="inputTextCep" type="text" th:field="*{endereco.cep}"
                                               placeholder="00.000-00" onblur="pesquisacep(this.value)"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputTextEstado" class="form-label">Estado</label>
                                        <input id="inputTextEstado" type="text" th:field="*{endereco.uf}"
                                               placeholder="Seu Estado" class="form-control">
                                    </div>
                                </div>

                                <!-- Cidade e Número -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputTextCidade" class="form-label">Cidade</label>
                                        <input id="inputTextCidade" type="text" th:field="*{endereco.cidade}"
                                               placeholder="Sua Cidade" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputTextNumero" class="form-label">Número</label>
                                        <input id="inputTextNumero" type="text" th:field="*{endereco.numero}"
                                               placeholder="Número" class="form-control">
                                    </div>
                                </div>

                                <!-- Complemento -->
                                <div class="row mb-3">
                                    <label for="inputTextComplemento"
                                           class="col-sm-2 col-form-label">Complemento</label>
                                    <div class="col-sm-12">
                                        <input id="inputTextComplemento" type="text" th:field="*{endereco.complemento}"
                                               placeholder="Complemento" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- id do locatario e id do endereco-->
                            <input type="hidden" id="idCliente" th:field="*{id}"/>
                            <input type="hidden" id="endereco.id" th:field="*{endereco.id}"/>
                            <!-- Botão de envio -->
                            <div class="row mb-3 mt-4 text-center">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- End General Form Elements -->


        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<script>
    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if (validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('inputTextRua').value = "...";
                document.getElementById('inputTextBairro').value = "...";
                document.getElementById('inputTextCidade').value = "...";
                document.getElementById('inputTextEstado').value = "...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/' + cep
                    + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

    function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('inputTextRua').value = "";
        document.getElementById('inputTextBairro').value = "";
        document.getElementById('inputTextCidade').value = "";
        document.getElementById('inputTextEstado').value = "";

    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('inputTextRua').value = (conteudo.logradouro);
            document.getElementById('inputTextBairro').value = (conteudo.bairro);
            document.getElementById('inputTextCidade').value = (conteudo.localidade);
            document.getElementById('inputTextEstado').value = (conteudo.uf);

        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $(document).ready(function () {
        $('#inputCelularPrincipal, #inputCelularWhatsApp').mask('(00) 00000-0000');
    });
</script>


</body>

</html>