<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<body>

<main id="main" class="main" layout:fragment="corpo">

    <div class="pagetitle">
        <h1>Cadastro Cliente</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Cadastrar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente</h5>
                        <div th:replace="fragments/alert"></div>
                        <!-- General Form Elements -->
                        <form th:action="${locatario.id == null} ? @{/locatario/salvar} : @{/locatario/editar}"
                              th:object="${locatario}" method="post">
                            <div class="form-row">
                                <!-- Nome -->
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Nome</label>
                                    <div class="col-sm-12">
                                        <input id="inputText" type="text" th:field="*{nome}" placeholder="Seu nome"
                                               class="form-control">
                                    </div>
                                </div>

                                <!-- CPF e RG -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="cpf_cliente" class="form-label">CPF</label>
                                        <input id="cpf_cliente" type="text" th:field="*{cpf}"
                                               oninput="formatarCpfCnpj(this)"
                                               placeholder="000.000.000-00" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="rg_cliente" class="form-label">RG</label>
                                        <input id="rg_cliente" type="text" th:field="*{rg}" placeholder="Seu RG"
                                               class="form-control">
                                    </div>
                                </div>
                                <!-- Estado civil e Profissao -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputEstadoCivil" class="form-label">Estado Civil</label>
                                        <select id="inputEstadoCivil" th:field="*{estadoCivil}" class="form-select">
                                            <option value="" disabled selected>Selecione seu estado civil</option>
                                            <option value="solteiro">Solteiro</option>
                                            <option value="casado">Casado</option>
                                            <option value="uniao_estavel">União Estável</option>
                                            <option value="nao_informado">Prefiro não informar</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="inputProfissao" class="form-label">Profissão</label>
                                        <input id="inputProfissao" type="text" th:field="*{profissao}"
                                               placeholder="Sua Profissão" class="form-control">
                                    </div>
                                </div>

                                <!-- Email e Nacionalidade -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputDate" class="form-label">Data de Nascimento</label>
                                        <input id="inputDate" type="date" th:field="*{dataNascimento}"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputNacionalidade" class="form-label">Nacionalidade</label>
                                        <input id="inputNacionalidade" type="text" th:field="*{nacionalidade}"
                                               placeholder="Sua Nacionalidade/país" class="form-control">
                                    </div>
                                </div>

                            </div>

                            <h5 class="card-title mt-4">Contato Telefone/Email</h5>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="form-label">Email</label>
                                    <input id="inputEmail" type="email" th:field="*{email}" placeholder="seu email"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">

                                <div class="col-md-6">
                                    <label for="inputCelularPrincipal" class="form-label">Celular Principal</label>
                                    <input id="inputCelularPrincipal" type="text" th:field="*{celularPrincipalCliente}"
                                           class="form-control" placeholder="(00) 00000-0000">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCelularWhatsApp" class="form-label">Celular WhatsApp</label>
                                    <input id="inputCelularWhatsApp" type="text" th:field="*{celularWhatsApp}"
                                           class="form-control" placeholder="(00) 00000-0000">
                                </div>
                            </div>
                            <h5 class="card-title mt-4">Endereço</h5>
                            <div class="form-row">
                                <!-- Rua e Bairro -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputTextRua" class="form-label">Rua</label>
                                        <input id="inputTextRua" type="text" th:field="*{endereco.logradouro}"
                                               placeholder="Rua" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputTextBairro" class="form-label">Bairro</label>
                                        <input id="inputTextBairro" type="text" th:field="*{endereco.bairro}"
                                               placeholder="Seu Bairro" class="form-control">
                                    </div>
                                </div>

                                <!-- CEP e Estado -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputTextCep" class="form-label">CEP</label>
                                        <input id="inputTextCep" type="text" th:field="*{endereco.cep}"
                                               placeholder="00.000-00" onblur="pesquisacep(this.value)"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputTextEstado" class="form-label">Estado</label>
                                        <input id="inputTextEstado" type="text" th:field="*{endereco.uf}"
                                               placeholder="Seu Estado" class="form-control">
                                    </div>
                                </div>

                                <!-- Cidade e Número -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="inputTextCidade" class="form-label">Cidade</label>
                                        <input id="inputTextCidade" type="text" th:field="*{endereco.cidade}"
                                               placeholder="Sua Cidade" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputTextNumero" class="form-label">Número</label>
                                        <input id="inputTextNumero" type="text" th:field="*{endereco.numero}"
                                               placeholder="Número" class="form-control">
                                    </div>
                                </div>

                                <!-- Complemento -->
                                <div class="row mb-3">
                                    <label for="inputTextComplemento"
                                           class="col-sm-2 col-form-label">Complemento</label>
                                    <div class="col-sm-12">
                                        <input id="inputTextComplemento" type="text" th:field="*{endereco.complemento}"
                                               placeholder="Complemento" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- id do locatario e id do endereco-->
                            <input type="hidden" id="idCliente" th:field="*{id}"/>
                            <input type="hidden" id="enderecoid" th:field="*{endereco.id}"/>
                            <!-- Botão de envio -->
                            <div class="row mb-3 mt-4 text-center">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- End General Form Elements -->
        </div>
    </section>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</body>

</html>