<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

</head>

<body>

<main id="main" class="main" layout:fragment="corpo">

    <div class="pagetitle">
        <h1>Listar Clientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Listar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Listar Clientes</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Cpf</th>
                                <th>Rg</th>
                                <th>Contato</th>
                                <th>Data de Nascimento</th>
                                <th>Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cli : ${locatarios}">
                                <td class="align-middle" th:text="${cli.id}">2</td>

                                <td class="align-middle" th:text="${#strings.toUpperCase(cli.nome)}"></td>
                                <td class="align-middle" th:text="${cli.cpf}"></td>
                                <td class="align-middle" th:text="${cli.rg}"></td>
                                <td class="align-middle"
                                    th:utext="'Ligação: ' + ${cli.celularPrincipalCliente} + '<br/>Whats: ' + ${cli.celularWhatsApp}">
                                    >
                                </td>
                                <td class="align-middle"
                                    th:text="${#temporals.format(cli.dataNascimento, 'dd/MM/yyyy')}">
                                </td>
                                <td class="align-middle" colspan="2">
                                    <a class="btn btn-info btn-sm" th:href="@{/locatario/editar/{id} (id=${cli.id}) }"
                                       role="button">
                                        <span class="bi-brush" title="Editar" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</body>

</html>