<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <style>
        table.table-hover tbody tr:hover {
            cursor: pointer;
        }
    </style>
    <style>
        /* Estilo de input com aparência desabilitada */
        .input-disabled {
            background-color: #f5f5f5; /* Cinza bem claro */
            color: #888; /* Cinza médio para o texto */
            border: 1px solid #ccc; /* Borda cinza clara */
            pointer-events: none; /* Impede interações como clique ou foco */
            opacity: 1; /* Garante que o campo seja visível */
        }

        /* Para manter o cursor padrão */
        .input-disabled::placeholder {
            color: #aaa; /* Placeholder com tom mais claro */

        }
    </style>
</head>

<body>

<main id="main" class="main" layout:fragment="corpo">

    <div class="pagetitle">
        <h1>Pagamento</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active">Pagamento</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Selecione um Aluguel...</h5>
                    <!-- Table with stripped rows -->
                    <table class="table table-hover datatable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Situação</th>
                            <th>Cliente</th>
                            <th>Valor ALuguel</th>
                            <th>Taxa Condomínio</th>
                            <th>Imóvel</th>
                            <th>Locador</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="con : ${contratos}" th:attr="data-id=${con.id}">
                            <td class="align-middle" th:text="${con.id}">2</td>
                            <td class="align-middle"
                                th:text="${con.situacao}"
                                th:classappend="${con.situacao == 'Aberto' ? 'text-success fw-bold' : (con.situacao == 'Cancelado' ? 'text-primary fw-bold' : '')}">
                            </td>
                            <td class="align-middle" th:text="${#strings.toUpperCase(con.locatario.nome)}"></td>
                            <td class="align-middle moeda" th:text="${con.valorAluguel}"></td>
                            <td class="align-middle moeda" th:text="${con.imovel.valorTaxa}"></td>
                            <td class="align-middle moeda"
                                th:text="|N°: ${con.imovel.numero}  - Tipo:  ${con.imovel.tipo}|"></td>
                            <td class="align-middle" th:text="${#strings.toUpperCase(con.locador.nome)}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>

            <!-- End General Form Elements -->
            <!-- Adicionado logo após os campos já existentes no lado esquerdo -->
            <div th:replace="fragments/alert"></div>

            <!-- Div para exibir notificações -->
            <div id="notificacao" class="alert d-none" role="alert"></div>

            <div class="card d-none" id="parcelasContratoCard">
                <div class="row mb-3">
                    <!-- Tabela de Parcelas -->
                    <div class="col-lg-7">
                        <h5 class="card-title">Parcelas</h5>
                        <div style="overflow-x: auto; max-height: 500px; overflow-y: auto; border: 1px solid #ddd; border-radius: 5px;">
                            <table id="tabelaParcelas" class="table tab-content">
                                <thead>
                                <tr>
                                    <th>Par</th>
                                    <th>Vencimento</th>
                                    <th>Valor</th>
                                    <th>Situação</th>
                                    <th>Pagamento</th>
                                    <th>Cód. Pgto</th>
                                    <th>Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <!-- Div para exibir o resultado -->
                        <div id="pixResult" style="margin-top: 20px; display: none; text-align: center;">
                            <h4>Chave PIX Gerada</h4>
                            <!-- Contador -->
                            <p id="contadorPix" style="font-size: 18px; font-weight: bold; color: red; margin-top: 10px;"></p>
                            <!-- QR Code Centralizado -->
                            <img id="qrCodeImage" src="" alt="QR Code PIX"
                                 style="max-width: 200px; margin: 10px auto; display: block;">
                            <!-- Valor da Chave PIX -->
                            <p id="pixKeyValue" style="font-weight: bold; margin-top: 10px;"></p>
                            <!-- Código Copia e Cola -->
                            <p><strong>Código Copia e Cola:</strong></p>
                            <textarea id="copiaCola" rows="3" class="form-control" readonly
                                      style="width: 80%; margin: 10px auto;"></textarea>

                            <!-- Botão para copiar -->
                            <button id="copyButton" class="btn btn-primary" style="margin-top: 10px;">Copiar Código
                            </button>
                        </div>

                    </div>

                    <!-- Dados e Registro de Pagamento -->
                    <div class="col-lg-5">
                        <h5 class="card-title" id="tituloContrato">Registrar Pagamento</h5>
                        <form id="pagamentoForm" th:action="@{/pagamento/salvar}"
                              th:object="${pagamento}" method="post">
                            <!-- Dados do Imóvel -->
                            <h6 class="mt-3 fw-bold text-primary">Dados Imóvel</h6>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="imovelNumero" class="col-form-label">N°</label>
                                    <input type="text" id="imovelNumero" class="form-control" disabled
                                           placeholder="Número">
                                </div>
                                <div class="col-sm-6">
                                    <label for="imovelTipo" class="col-form-label">Tipo</label>
                                    <input type="text" id="imovelTipo" class="form-control" disabled placeholder="Tipo">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <label for="locadorNome" class="col-form-label">Locador</label>
                                    <input type="text" id="locadorNome" class="form-control" disabled
                                           placeholder="Nome">
                                    <input type="hidden" id="locadorPagamento" th:field="*{locador}">
                                </div>
                            </div>


                            <!-- Dados do Locatário -->
                            <h6 class="mt-3 fw-bold text-primary">Dados Locatário</h6>
                            <div class="row mb-3">
                                <div class="col-sm-8">
                                    <label for="locatarioNome" class="col-form-label">Nome - Cpf</label>
                                    <input type="text" id="locatarioNome" class="form-control" disabled
                                           placeholder="Nome">
                                    <input type="hidden" id="locatarioPagamento" th:field="*{locatario}">
                                </div>
                                <div class="col-sm-4">
                                    <label for="locatarioCelular" class="col-form-label">Celular</label>
                                    <input type="text" id="locatarioCelular" class="form-control" disabled
                                           placeholder="Celular">
                                </div>
                            </div>

                            <!-- Dados de Pagamento -->
                            <h6 class="mt-3 fw-bold text-primary">Dados Pagamento</h6>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <label for="numeroParcela" class="col-form-label">Parcela N°</label>
                                    <input type="text" id="numeroParcela" th:field="*{parcela}"
                                           class="form-control input-disabled" readonly placeholder="N° Parcela">
                                </div>
                                <div class="col-sm-4">
                                    <label for="dataVencimento" class="col-form-label">Data Vencimento</label>
                                    <input type="date" id="dataVencimento" th:field="*{dataVencimento}"
                                           class="form-control input-disabled" readonly placeholder="Data vencimento">
                                </div>
                                <div class="col-sm-6">
                                    <label for="formaPgto" class="col-form-label">Forma de Pgto</label>
                                    <select id="formaPgto" th:field="*{meioPagamento}" class="form-select">
                                        <option value="boleto">Boleto</option>
                                        <option value="cartao">Cartão de Crédito</option>
                                        <option value="pix">PIX</option>
                                        <option value="transferencia">Transferência Bancária</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="valorDevido" class="col-form-label">Valor Original</label>
                                    <input type="text" id="valorDevido" th:field="*{valor}"
                                           class="form-control input-disabled" readonly placeholder="R$ 0,00">
                                </div>
                                <div class="col-sm-6">
                                    <label for="valorTaxa" class="col-form-label">Valor Taxa Cond.</label>
                                    <input type="text" id="valorTaxa" class="form-control input-disabled" readonly
                                           placeholder="R$ 0,00">
                                </div>
                            </div>
                            <div class="row mb-3">

                                <div class="col-sm-4">
                                    <label for="diasEmAtraso" class="col-form-label">Dias em atraso</label>
                                    <input type="text" id="diasEmAtraso" class="form-control input-disabled" readonly
                                           placeholder="-">
                                </div>

                                <div class="col-sm-8">
                                    <label for="valorJuros" class="col-form-label">Valor Juros</label>
                                    <input type="text" id="valorJuros" th:field="*{juros}"
                                           class="form-control input-disabled" readonly placeholder="R$ 0,00">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="valorDesconto" class="col-sm-3 col-form-label">Valor Desconto</label>
                                <div class="col-sm-9">
                                    <input type="text" id="valorDesconto" th:field="*{desconto}"
                                           onblur="calculaValorTotalLiquido(), formataMoedaFinal(this)" value="0.00"
                                           class="form-control"
                                           placeholder="R$ 0,00"
                                           oninput="mascaraMoeda(this)">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="valorPago" class="col-sm-3 col-form-label">Valor a Pagar</label>
                                <div class="col-sm-9">
                                    <input type="text" id="valorPago" th:field="*{valorTotalLiquido}"
                                           class="form-control input-disabled" readonly placeholder="R$ 0,00">
                                </div>
                            </div>
                            <div class="row text-end">
                                <input type="hidden" id="pagamentoId" th:field="*{id}">
                                <input type="hidden" id="contratoPagamento" th:field="*{contrato}">

                                <div class="col-sm-12 d-flex justify-content-end align-items-center gap-2">
                                    <!-- Botão Gerar Chave PIX -->
                                    <button id="gerarPixBtn" type="submit" class="btn btn-primary"
                                            style="display: none;">Gerar Chave
                                        PIX
                                    </button>

                                    <!-- Botão Registrar Pagamento -->
                                    <button id="gerarPagamentoBtn" type="submit" class="btn btn-success">Registrar
                                        Pagamento
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

        </div>
        </div>
    </section>
    <!-- Modal de Sucesso -->
    <div class="modal fade" id="modalSucesso" tabindex="-1" aria-labelledby="modalSucessoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalucessoLabel">Pagamento Registrado!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O pagamento foi registrado com sucesso.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Insucesso -->
    <div class="modal fade" id="modalInsucesso" tabindex="-1" aria-labelledby="modalInsucessoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalInsucessoLabel">Pagamento Não Registrado!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O pagamento não foi registrado. Tente novamente com os dados corretos.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">TENTAR NOVAMENTE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmação Estorno-->
    <div class="modal fade" id="modalConfirmacao" tabindex="-1" aria-labelledby="modalConfirmacaoLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning text-white">
                    <h5 class="modal-title" id="modalConfirmacaoLabel">Confirmar Estorno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja estornar este pagamento?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnConfirmarEstorno" class="btn btn-warning">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Sucesso no Estorno -->
    <div class="modal fade" id="modalSucessoEstorno" tabindex="-1" aria-labelledby="modalSucessoEstornoLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalSucessoEstornoLabel">Estorno Realizado!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O estorno foi realizado com sucesso para o pagamento selecionado.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Insucesso no Estorno -->
    <div class="modal fade" id="modalInsucessoEstorno" tabindex="-1" aria-labelledby="modalInsucessoEstornoLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalInsucessoEstornoLabel">Erro no Estorno!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Não foi possível realizar o estorno. Por favor, tente novamente mais tarde.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para exibir o PDF -->
    <div id="pdfModal"
         style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;">
        <div style="position: relative; width: 80%; height: 80%; margin: 5% auto; background: white; border-radius: 10px; overflow: hidden; display: flex; flex-direction: column; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">

            <!-- Header do Modal -->
            <div style="padding: 15px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc;">
                <h3 style="margin: 0;">Visualização do Recibo</h3>
                <div style="display: flex; gap: 10px;">
                    <button id="enviarWhatsappBtn" onclick="enviarReciboViaWhatsapp()"
                            style="display: flex; align-items: center; background-color: #25D366; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; gap: 8px;">
                        <i class="fa-brands fa-whatsapp"></i>
                        ENVIAR VIA WHATSAPP
                    </button>
                    <button onclick="fecharModal()"
                            style="background-color: red; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">
                        Fechar
                    </button>
                </div>
            </div>

            <!-- Exibição do PDF -->
            <iframe id="pdfViewer" style="width: 100%; height: calc(100% - 70px); border: none; flex: 1;"></iframe>
        </div>
    </div>

    <!-- Font Awesome para ícones -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Modal de Sucesso no Envio via WhatsApp -->
    <div class="modal fade" id="modalSucessoEnvio" tabindex="-1" aria-labelledby="modalSucessoEnvioLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalSucessoEnvioLabel">Envio Realizado com Sucesso!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O recibo foi enviado via WhatsApp com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Insucesso no Envio via WhatsApp -->
    <div class="modal fade" id="modalErroEnvio" tabindex="-1" aria-labelledby="modalErroEnvioLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalErroEnvioLabel">Erro ao Enviar!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ocorreu um erro ao tentar enviar o recibo via WhatsApp. Por favor, tente novamente.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</body>

</html>