<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
<main id="main" class="main"  layout:fragment="corpo">

    <div class="pagetitle">
        <h1>Principal</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active">Principal</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <!-- Div para exibir notificações -->
    <div id="notificacao" class="alert d-none" role="alert"></div>
    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Aluguel Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card Aluguel-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Hoje</a></li>
                                    <li><a class="dropdown-item" href="#">Este Mês</a></li>
                                    <li><a class="dropdown-item" href="#">Este ano</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Aluguéis Ativos <span>| Hoje</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-house"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${imovelAtivo}"></h6>
                                        <span class="text-success small pt-1 fw-bold"
                                              th:text="${porcentagemAtivo}"></span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Aluguel Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Hoje</a></li>
                                    <li><a class="dropdown-item" href="#">Este Mês</a></li>
                                    <li><a class="dropdown-item" href="#">Este ano</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Pagamentos <span>| Este Mês</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${valorMensal}"></h6>
                                        <span class="text-success small pt-1 fw-bold" th:text="${#temporals.format(dataHora, 'EEEE')}"></span> <span
                                            class="text-muted small pt-2 ps-1"  th:text="${#temporals.format(dataHora, 'dd/MM/yyyy HH:mm')}"></span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Clientes Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card Clientes-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Hoje</a></li>
                                    <li><a class="dropdown-item" href="#">Este Mês</a></li>
                                    <li><a class="dropdown-item" href="#">Este ano</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Clientes <span>| Total</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${clientes}"></h6>
                                        <span class="text-danger small pt-1 fw-bold">**</span> <span
                                            class="text-muted small pt-2 ps-1">**</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Clientes Card -->
                    <!-- Pagamentos Aprovados e Atividade Recente na Mesma Linha -->
                    <div class="row">
                        <!-- Pagamentos Aprovados -->
                        <div class="col-lg-12">
                            <div class="card recent-Aluguel overflow-auto">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Hoje</a></li>
                                        <li><a class="dropdown-item" href="#">Este Mês</a></li>
                                        <li><a class="dropdown-item" href="#">Este ano</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Pagamentos Aprovados <span>| Hoje</span></h5>
                                    <table class="table table-borderless datatable">
                                        <thead>
                                        <tr>
                                            <th>
                                                <b>Cód. Pgto</b>
                                            </th>
                                            <th>Locador</th>
                                            <th>Locatário</th>
                                            <th>N° Imóvel</th>
                                            <th>Descritivo</th>
                                            <th>Juros</th>
                                            <th>Descontos</th>
                                            <th>Total</th>
                                            <th>Meio Pagamento</th>
                                            <th>Data Pagamento</th>
                                            <th>Ações</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="pgo : ${pagamentos}">
                                            <td class="align-middle" th:text="${pgo.id}"></td>
                                            <td class="align-middle" th:text="${#strings.toUpperCase(pgo.contrato.locador.nome)}"></td>
                                            <td class="align-middle" th:text="${#strings.toUpperCase(pgo.contrato.locatario.nome)}"></td>
                                            <td class="align-middle" th:text="${pgo.contrato.imovel.numero}">2</td>
                                            <td class="align-middle" th:text="${pgo.descricao}"></td>
                                            <td class="align-middle" th:text="${pgo.juros}"></td>
                                            <td class="align-middle" th:text="${pgo.desconto}"></td>
                                            <td class="align-middle" th:text="${pgo.valorTotalLiquido}"></td>
                                            <td class="align-middle" th:text="${pgo.meioPagamento}"></td>
                                            <td class="align-middle"
                                                th:text="${#temporals.format(pgo.dataPagamento, 'dd/MM/yyyy')}">
                                            </td>
                                            <td class="align-middle" colspan="2">
                                                <a class="btn btn-info btn-sm"
                                                   role="button">
                                                    <span class="bi-printer" title="Recibo" th:onclick="|gerarRecibo(${pgo.id})|" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Atividade Recente -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Hoje</a></li>
                                        <li><a class="dropdown-item" href="#">Este Mês</a></li>
                                        <li><a class="dropdown-item" href="#">Este ano</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Atividade Recente <span>| Hoje</span></h5>
                                    <div class="activity">
                                        <div th:each="atividade : ${atividades}" class="activity-item d-flex">
                                            <!-- Tempo relativo (ex: "32 min", "2 hrs", "1 dia") -->
                                            <div class="activite-label" th:text="${#temporals.format(atividade.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}"></div>
                                            <!-- Ícone com cor dinâmica baseada no tipo_atividade -->
                                            <i class="bi bi-circle-fill activity-badge align-self-start"
                                               th:classappend="${
                  atividade.tipoAtividade == 'RECEBIMENTO_DE_PIX' ? 'text-success' :
                  atividade.tipoAtividade == 'PAGAMENTO_COMUM' ? 'text-success' :
                  atividade.tipoAtividade == 'CRIACAO_DE_IMOVEL' || atividade.tipoAtividade == 'CRIACAO_DE_LOCATARIO' ? 'text-info' :
                  atividade.tipoAtividade == 'CRIACAO_DE_CHAVE_PIX' ? 'text-warning' :
                  atividade.tipoAtividade == 'ESTORNO_PAGAMENTO' ? 'text-danger': 'text-info'}"></i>

                                            <!-- Conteúdo da atividade -->
                                            <div class="activity-content">
                                                <span th:text="${atividade.atividade}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div> <!-- End Row -->

                </div>

            </div>
            <!-- End Left side columns -->


        </div>
        </div>
        <!-- End News & Updates -->

        </div>
        <!-- End Right side columns -->

        </div>
    </section>


    <!-- Modal para exibir o PDF -->
    <div id="pdfModal"
         style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;">
        <div style="position: relative; width: 80%; height: 80%; margin: 5% auto; background: white; border-radius: 10px; overflow: hidden; display: flex; flex-direction: column; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">

            <!-- Header do Modal -->
            <div style="padding: 15px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc;">
                <h3 style="margin: 0;">Visualização do Recibo</h3>
                <div style="display: flex; gap: 10px;">
                    <button id="enviarWhatsappBtn" onclick="enviarReciboViaWhatsapp()"
                            style="display: flex; align-items: center; background-color: #25D366; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; gap: 8px;">
                        <i class="fa-brands fa-whatsapp"></i>
                        ENVIAR VIA WHATSAPP
                    </button>
                    <button onclick="fecharModal()"
                            style="background-color: red; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">
                        Fechar
                    </button>
                </div>
            </div>

            <!-- Exibição do PDF -->
            <iframe id="pdfViewer" style="width: 100%; height: calc(100% - 70px); border: none; flex: 1;"></iframe>
        </div>
    </div>

    <!-- Font Awesome para ícones -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Modal de Sucesso no Envio via WhatsApp -->
    <div class="modal fade" id="modalSucessoEnvio" tabindex="-1" aria-labelledby="modalSucessoEnvioLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalSucessoEnvioLabel">Envio Realizado com Sucesso!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>O recibo foi enviado via WhatsApp com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Insucesso no Envio via WhatsApp -->
    <div class="modal fade" id="modalErroEnvio" tabindex="-1" aria-labelledby="modalErroEnvioLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalErroEnvioLabel">Erro ao Enviar!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ocorreu um erro ao tentar enviar o recibo via WhatsApp. Por favor, tente novamente.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Aguarde -->
    <div class="modal fade" id="modalAguarde" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Carregando...</span>
                    </div>
                    <p class="mt-2">Aguarde...</p>
                </div>
            </div>
        </div>
    </div>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
</body>
</html>